doctype html
html
  head
    link(rel="icon" href="/favicon.ico")
    style
      include ../style.css
  body
    h1 Agency Web

    h2
      a(href="https://datamed.skilldevs.shop" target="_blank") Datamed